.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;

}
input, button{
  padding: 10px;
  border-color: #d7dbdf;
  background-color: #edeff0;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  
}
.submitInput{
  background-color: 
  #fafafa;
  outline: none;
  border: none;
  padding: 12px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  
  
}
.search{
  width: 400px;
  font-size: 1em;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}
Link{
  background-color: 
  #051c33;
  color: white;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  width: 100px;
  padding: 5px 0;

}
h1{
  text-align: center;
  font-style: italic;
}
.image_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  
}
.imgdiv{
  margin: 15px;
  width: 220px;
  height: 200px;

  display: flex;
  justify-content: center;
}
img{
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}
ul{
  display: flex;
  list-style-type: none;
}
li{
  margin: 20px;
  border: 2px solid black;
  width: 100px;
  text-align: center;
  background-color: #051c33;
  font-weight: bold;
  list-style: none;
  
}
link{
  text-decoration: none;
  color: white;
}
img:hover{
  width: 100%;
  scale:1.2;
  transition: scale 1.6s;
}

a{
  color: white;
  text-decoration: none;
}
.fa-spinner{
  font-size: 200px;
}