.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(252, 252, 103);
}
ul{
  display: flex;
  
}
li{
  margin: 10px;
  list-style-type: none;
  width: 100px;
  padding: 15px;
  text-align: center;
  background-color: #409ab3;
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.formDiv{
  display: flex;
  justify-content: center;
  margin: 20px;
}
#searchInput{
  padding: 20px;
  width: 500px;
  border-left: none;
}
#submitInput{
  padding: 20px;
  border-right: none;
  cursor: pointer;
  background-color: gray;
}
.container{
  border: 2px solid black;
  height: 480px;
}
.dataBox{
  border: 2px solid black;
  width: 200px;
  padding: 10px;
}