
h3{
  border: 2px solid black;
  margin: 0;
  width: 1050px;
  display: block;
  margin-right: auto;
  margin: auto;
  padding-left: 10px;
}
.container{
  border: 2px solid black;
  height:600px;
  width: 1000px;
  display: block;
  margin-right: auto;
  margin: auto;
  display: grid;
  flex-direction: column;
  grid-template-rows: repeat(4 auto);
  grid-template-columns: 200px auto;
  gap: 40px 40px;
  padding: 30px;
}
.div1,.div2,.div3,.div4,.div5,.div6,.div7{
  background-color: lightblue;
  font-weight: bold;
  color: white;
  font-size: 50px;
  border: 2px solid black;
}
.div1,.div3,.div5{
  background-color: brown;
}
.div7{
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 3;
}
