*{
  margin: 0;
  padding: 0;
}
.headcont{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 6;
}
img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 30px;
}
nav{
  display: flex;
  font-size: 20px;
  position: relative;

}
.navbar-container1{
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px;
}
.navbar-container2{
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}
ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
}
a{
  text-decoration: none;
  margin: 20px;
  color: black;
}
a:hover{
  color: blueviolet;
  
}
@media screen and (max-width: 992px) and (min-width: 600px){
  nav{
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
nav{
    display: flex;
    flex-direction: column;
  }
  .navbar-container1,.navbar-container2{
    width: 100%;
    padding: 10px;
  }
}
main{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(Img/ИЗУЧЯЕМ\ КОМНАТЫ.png);
  background-position: center;
  background-repeat:cover;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,p{
  text-align: center;
  width: 1000px;
  margin: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
  font-size: 60px;
}
p{
  font-size: 23px;
  line-height: 40px;
  
}
button{
  background-color: blueviolet;
  font-weight: bold;
  padding: 15px 80px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 20px;
}
left-nav{
  position: relative;
}
.icon-container{
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 250px;
  background-color: white;
  padding-top: 20px;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 330px;
}
.icon{
  width: 40px;
  height: 40px;
  align-items: center;
}