.container{
  border: 2px solid #FF0000;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}
.div1,.div2,.div3{
  width: 100%;
  background-color: lightblue;
  height: 15%;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2{
  height: 40%;
  width: 30%;
}







