.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: 
  #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 500px;
  height: 100px;
}
h1{
  text-align: center;
  color: #2196f3;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.firstList{
  background-color: white;
  padding: 10px;
  margin: 2px;
}

label{
  font-size: 13px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
input{
  width: 500px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 40px 0;
  background-color: #eeeeee ;
}
input:active{
  border:none
}
