.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

}
.scores{
  display: flex;
  align-items: end;
 
}
h5{
  margin: 20px;
  font-size: 20px;
}
h2{
  background-color: rgb(196, 5, 5);
  padding: 10px;
  color:  white;
  margin: 5px 0;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mini-container{
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 320px;
  margin: 10px;
  box-shadow: 0 0 10px 0px;
  margin: 30px;
}
.mini-container:hover{
  box-shadow: 0 0 15px 0px;
}

img{
  width: 200px;
  height: 250px;
}
.imgDiv{
  display: flex;
  justify-content: center;
}
.nameDiv{
  line-height: 10px;
  padding-left: 50px;
}
