.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  background-color: gray;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
}
.mini_container{
  width: 500px;
  height: 240px;
  border: none;
  border-radius: 20px;
  background-color: white;
  margin-top: 100px;
}
.quotes{
  width: 100%;
  height: 65%;

}
#quoteP{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: gray;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  animation-duration: 1.5s;
  animation-name: effect;
}

@keyframes effect {
  from {
    padding-top: 0%;
  }
  to {
    padding-top: 5%;
  }
}
.author{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
  font-size: 10px;
  padding: 15px;
}
.btnDiv{
  width: 100%;
  height: 60px;
}
button{
  margin-right: 30px;
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  float: inline-end;

}
