

span{
  background-color: yellow;
}

.catSenses{
  margin-left: 50px;
}
.media,.lion{
  text-align: center;
} 
img{
  width: 550px;
  height: 350px;
  text-align: center;
}
table{
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.table-heading{
  border: 2px solid red;
  padding: 3px;
  
}
th,td{
  border: 2px solid black;
  padding: 3px;
}
td{
  padding: 20px 3px;
}
.lion{
  display: block;
  margin-right: auto;
  margin: auto;
}